<div class="container">
   <h3 nz-typography>Đăng ký</h3>
   <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
         <nz-form-control nzErrorTip="Vui lòng nhập email !" nzHasFeedback>
            <nz-input-group nzPrefixIcon="user">
               <input type="text" nz-input formControlName="email" placeholder="Email" />
            </nz-input-group>
         </nz-form-control>
      </nz-form-item>
      <nz-form-item>
         <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu !" nzHasFeedback>
            <nz-input-group nzPrefixIcon="lock">
               <input type="password" nz-input formControlName="password" placeholder="Mật khẩu" />
            </nz-input-group>
         </nz-form-control>
      </nz-form-item>

      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Đăng ký</button>
      <a class="login-link" routerLink="/login">Đã có tải khoản?Đăng Nhập!</a>
   </form>
</div>